# Python cache
__pycache__/
*.py[cod]
*$py.class

#virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables / secrets
.env

#IDE settings
.vscode/

#OS files
.DS_Store
Thumbs.db

#Python distribution files
*.egg-info/
dist/
build/

#logs
*.log